@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="me-3">Hello, @context.User.Identity?.Name!</span>
                    <a href="Account/Logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="ms-3">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
